//Animacion para hacer que se deslice hacia abajo y luego hacia arriba
@keyframes slide-down {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    20% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .popup {
        width: 90%;
    }

    .popup__title {
        font-size: 1.5rem;
    }
}

.popup-transition-appear {
    opacity: 0;
    transform: scale(0);
}

.popup-transition-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 3000ms ease-in, transform 3000ms ease-in;
}

/* Estilos de la animación de entrada */
.popup-transition-enter {
    opacity: 0;
    transform: scale(0);
}

.popup-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Estilos de la animación de salida */
.popup-transition-exit {
    opacity: 1;
    transform: scale(1);
}

.popup-transition-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s, transform 0.3s;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    // animation: slide-down 7s backwards normal;
    z-index: 1000;
    display: flex;
}

.popup-content h4 {
    color: #222;
}
